# Visual Studio specific
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# Rider project files
.idea/

# Visual Studio Code settings
.vscode/

# NuGet packages
*.nupkg
packages/

# Logs
*.log

# Backup & temporary files
*.backup
*.cache
*.tmp
*.temp

# Resharper
_ReSharper*/

# Others
*.DS_Store
